Repository spidernet-io/spiderpool, changes with the owners that CODEOWNERS names for each.
All owners: @weizhoublue, @cyclinder, @windsonsea, @lou-lan

CODEOWNERS:

*  @weizhoublue @cyclinder
/.github/ @weizhoublue @cyclinder
/api/ @weizhoublue @cyclinder
/charts/ @weizhoublue @cyclinder
/cmd/ @weizhoublue @cyclinder
/contrib/ @weizhoublue @cyclinder
/docs/ @weizhoublue @windsonsea @cyclinder
/images/ @weizhoublue @cyclinder
/pkg/ @weizhoublue @cyclinder @lou-lan
/test/ @weizhoublue  @cyclinder
/test/e2e/ @weizhoublue 
/test/doc/ @weizhoublue 
/tools/ @weizhoublue @cyclinder 
/vendor/ @weizhoublue @cyclinder
/.gitignore @weizhoublue
/CODEOWNERS @weizhoublue @cyclinder
/go.mod @weizhoublue @cyclinder
/LICENSE @weizhoublue @cyclinder
/Makefile* @weizhoublue @cyclinder 
/README.md @weizhoublue @cyclinder 
/README-zh_CN.md @weizhoublue @cyclinder 
/go.sum @weizhoublue @cyclinder 
/VERSION @weizhoublue @cyclinder
/AUTHORS @weizhoublue @cyclinder 
/.licenserc.yaml @weizhoublue @cyclinder 
/codecov.yml @weizhoublue
/.golangci.yaml @weizhoublue
/MAINTAINERS.md @weizhoublue @cyclinder
/.trivyignore @weizhoublue
/CODE_OF_CONDUCT.md @weizhoublue @cyclinder

Merge pull request #4784 from cyclinder/ipam/disable_gc_ternamating1
  pkg/gcmanager/pod_cache.go
  pkg/gcmanager/scanAll_IPPool.go
Owners: @weizhoublue, @cyclinder, @lou-lan

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

cni version: get the newest one
  tools/scripts/updateLatestCniPluginVersion.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

IPAM: Make ENV EnableGCStatelessTerminatingPod(Not)ReadyNode works in scanAll gcmanager
  pkg/gcmanager/pod_cache.go
  pkg/gcmanager/scanAll_IPPool.go
Owners: @weizhoublue, @cyclinder, @lou-lan

IPAM: Make ENV EnableGCStatelessTerminatingPod(Not)ReadyNode works in scanAll gcmanager
  pkg/gcmanager/pod_cache.go
  pkg/gcmanager/scanAll_IPPool.go
Owners: @weizhoublue, @cyclinder, @lou-lan

Add pause and discards for RDMA metrics
  .github/grafana-check.yaml
  .github/workflows/lint-grafana-file.yaml
  charts/spiderpool/files/grafana-rdma-cluster.json
  charts/spiderpool/files/grafana-rdma-node.json
  charts/spiderpool/files/grafana-rdma-pod.json
  charts/spiderpool/files/grafana-rdma-workload.json
  docs/usage/rdma-metrics-zh_CN.md
  docs/usage/rdma-metrics.md
  pkg/rdmametrics/ethtool/ethtool.go
  pkg/rdmametrics/metrics.go
  pkg/rdmametrics/metrics_test.go
  pkg/rdmametrics/oteltype/types.go
Owners: @weizhoublue, @cyclinder, @windsonsea, @lou-lan

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

e2e: Fix cilium fail to running with ipv6 only
  test/Makefile
  test/Makefile.defs
  test/e2e/common/node.go
  test/e2e/spidercoordinator/spidercoordinator_suite_test.go
  test/scripts/install-default-cni.sh
Owners: @weizhoublue, @cyclinder

e2e: Fix cilium fail to running with ipv6 only (#4824)
  test/Makefile
  test/Makefile.defs
  test/e2e/common/node.go
  test/e2e/spidercoordinator/spidercoordinator_suite_test.go
  test/scripts/install-default-cni.sh
Owners: @weizhoublue, @cyclinder

Test
  test/Makefile
Owners: @weizhoublue, @cyclinder

e2e: Fix cilium fail to running with ipv6 only (#4824)
  test/Makefile
  test/e2e/common/node.go
  test/e2e/spidercoordinator/spidercoordinator_suite_test.go
  test/scripts/install-default-cni.sh
Owners: @weizhoublue, @cyclinder

e2e: Fix cilium fail to running with ipv6 only (#4824)
  test/e2e/common/node.go
  test/e2e/spidercoordinator/spidercoordinator_suite_test.go
  test/scripts/install-default-cni.sh
Owners: @weizhoublue, @cyclinder

e2e: Fix cilium fail to running with ipv6 only (#4824)
  test/e2e/common/node.go
  test/e2e/spidercoordinator/spidercoordinator_suite_test.go
  test/scripts/install-default-cni.sh
Owners: @weizhoublue, @cyclinder

CI: make k8s version to v1.32.3
  .github/workflows/auto-diff-k8s-ci.yaml
  .github/workflows/e2e-init.yaml
  test/Makefile.defs
Owners: @weizhoublue, @cyclinder

e2e: Fix cilium fail to running with ipv6 only (#4824) (#4840)
  test/Makefile
  test/e2e/common/node.go
  test/e2e/spidercoordinator/spidercoordinator_suite_test.go
  test/scripts/install-default-cni.sh
Owners: @weizhoublue, @cyclinder

CI: make k8s version to v1.32.3 (#4837)
  .github/workflows/auto-diff-k8s-ci.yaml
  .github/workflows/e2e-init.yaml
  test/Makefile
  test/Makefile.defs
Owners: @weizhoublue, @cyclinder

e2e: Fix cilium fail to running with ipv6 only (#4824) (#4839)
  test/e2e/common/node.go
  test/e2e/spidercoordinator/spidercoordinator_suite_test.go
  test/scripts/install-default-cni.sh
Owners: @weizhoublue, @cyclinder

e2e: Fix cilium fail to running with ipv6 only (#4824) (#4838)
  test/e2e/common/node.go
  test/e2e/spidercoordinator/spidercoordinator_suite_test.go
  test/scripts/install-default-cni.sh
Owners: @weizhoublue, @cyclinder

bump version to v1.0.2
  VERSION
  charts/spiderpool/Chart.yaml
Owners: @weizhoublue, @cyclinder

bump version to 0.8.12
  VERSION
  charts/spiderpool/Chart.yaml
Owners: @weizhoublue, @cyclinder

Release-0.9: bump version to v0.9.11
  VERSION
  charts/spiderpool/Chart.yaml
Owners: @weizhoublue, @cyclinder

bump version to v1.0.2 (#4841)
  VERSION
  charts/spiderpool/Chart.yaml
Owners: @weizhoublue, @cyclinder

CI: Retry update resources with the conflict error
  .github/workflows/auto-nightly-ci.yaml
  .github/workflows/auto-pr-ci.yaml
  test/e2e/annotation/annotation_test.go
Owners: @weizhoublue, @cyclinder

CI: Retry update resources with the conflict error (#4843)
  .github/workflows/auto-nightly-ci.yaml
  .github/workflows/auto-pr-ci.yaml
  test/e2e/annotation/annotation_test.go
Owners: @weizhoublue, @cyclinder

robot updates the release version of the README file based on the release tag: v1.0.2
  README-zh_CN.md
  README.md
Owners: @weizhoublue, @cyclinder

robot Update chart from v1.0.2 to branch github_pages
  charts/chart_package_artifact_v1.0.2/spiderpool-1.0.2.tgz
  index.yaml
Owners: @weizhoublue, @cyclinder

robot update website from v1.0.2 to branch github_pages with tag v1.0
  latest/usage/roce-qos-zh_CN/index.html
  latest/usage/roce-qos/index.html
  v1.0/concepts/multi_cni_coexist-zh_CN/index.html
  v1.0/concepts/multi_cni_coexist/index.html
  v1.0/example/qos/rdma-qos.sh
  v1.0/images/macvlan-macvlan-service.png
  v1.0/reference/crd-spidermultusconfig/index.html
  v1.0/search/search_index.json
  v1.0/sitemap.xml.gz
  v1.0/usage/install/ai/get-started-macvlan-zh_CN/index.html
  v1.0/usage/install/ai/get-started-macvlan/index.html
  v1.0/usage/install/ai/get-started-sriov-zh_CN/index.html
  v1.0/usage/install/ai/get-started-sriov/index.html
  v1.0/usage/rdma-metrics/index.html
  v1.0/usage/roce-qos-zh_CN/index.html
  v1.0/usage/roce-qos/index.html
  v1.0/usage/spider-multus-config-zh_CN/index.html
  v1.0/usage/spider-multus-config/index.html
Owners: @weizhoublue, @cyclinder

robot update changelog from tag v1.0.1 to tag v1.0.2
  changelogs/changelog_artifact_v1.0.2/changelog_from_v1.0.1_to_v1.0.2.md
Owners: @weizhoublue, @cyclinder

Release-0.9: bump version to v0.9.11 (#4846)
  VERSION
  charts/spiderpool/Chart.yaml
Owners: @weizhoublue, @cyclinder

bump version to 0.8.12 (#4844)
  VERSION
  charts/spiderpool/Chart.yaml
Owners: @weizhoublue, @cyclinder

robot updates the release version of the README file based on the release tag: v0.9.11
  README-zh_CN.md
  README.md
Owners: @weizhoublue, @cyclinder

robot update changelog from tag v0.9.10 to tag v0.9.11
  changelogs/changelog_artifact_v0.9.11/changelog_from_v0.9.10_to_v0.9.11.md
Owners: @weizhoublue, @cyclinder
