Repository spidernet-io/spiderpool, changes with the owners that CODEOWNERS names for each.
All owners: @weizhoublue, @cyclinder, @windsonsea, @lou-lan

CODEOWNERS:

*  @weizhoublue @cyclinder
/.github/ @weizhoublue @cyclinder
/api/ @weizhoublue @cyclinder
/charts/ @weizhoublue @cyclinder
/cmd/ @weizhoublue @cyclinder
/contrib/ @weizhoublue @cyclinder
/docs/ @weizhoublue @windsonsea @cyclinder
/images/ @weizhoublue @cyclinder
/pkg/ @weizhoublue @cyclinder @lou-lan
/test/ @weizhoublue  @cyclinder
/test/e2e/ @weizhoublue 
/test/doc/ @weizhoublue 
/tools/ @weizhoublue @cyclinder 
/vendor/ @weizhoublue @cyclinder
/.gitignore @weizhoublue
/CODEOWNERS @weizhoublue @cyclinder
/go.mod @weizhoublue @cyclinder
/LICENSE @weizhoublue @cyclinder
/Makefile* @weizhoublue @cyclinder 
/README.md @weizhoublue @cyclinder 
/README-zh_CN.md @weizhoublue @cyclinder 
/go.sum @weizhoublue @cyclinder 
/VERSION @weizhoublue @cyclinder
/AUTHORS @weizhoublue @cyclinder 
/.licenserc.yaml @weizhoublue @cyclinder 
/codecov.yml @weizhoublue
/.golangci.yaml @weizhoublue
/MAINTAINERS.md @weizhoublue @cyclinder
/.trivyignore @weizhoublue
/CODE_OF_CONDUCT.md @weizhoublue @cyclinder

robot updates Spiderpool authors on tag: main
  AUTHORS
Owners: @weizhoublue, @cyclinder

SpiderMultusConfig: Fix error json tag for min/maxTxRateMbps (#4716)
  docs/usage/spider-multus-config-zh_CN.md
  docs/usage/spider-multus-config.md
  pkg/constant/k8s.go
  pkg/multuscniconfig/utils.go
Owners: @weizhoublue, @windsonsea, @cyclinder, @lou-lan

SpiderMultusConfig: Fix error json tag for min/maxTxRateMbps (#4716)
  docs/usage/spider-multus-config-zh_CN.md
  docs/usage/spider-multus-config.md
  pkg/constant/k8s.go
  pkg/multuscniconfig/utils.go
Owners: @weizhoublue, @windsonsea, @cyclinder, @lou-lan

SpiderMultusConfig: Fix error json tag for min/maxTxRateMbps (#4716)
  .github/PULL_REQUEST_TEMPLATE.md
  docs/usage/spider-multus-config-zh_CN.md
  docs/usage/spider-multus-config.md
  pkg/constant/k8s.go
  pkg/multuscniconfig/utils.go
Owners: @weizhoublue, @cyclinder, @windsonsea, @lou-lan

SpiderMultusConfig: Fix error json tag for min/maxTxRateMbps (#4716) (#4739)
  .github/PULL_REQUEST_TEMPLATE.md
  docs/usage/spider-multus-config-zh_CN.md
  docs/usage/spider-multus-config.md
  pkg/constant/k8s.go
  pkg/multuscniconfig/utils.go
Owners: @weizhoublue, @cyclinder, @windsonsea, @lou-lan

SpiderMultusConfig: Fix error json tag for min/maxTxRateMbps (#4716) (#4738)
  docs/usage/spider-multus-config-zh_CN.md
  docs/usage/spider-multus-config.md
  pkg/constant/k8s.go
  pkg/multuscniconfig/utils.go
Owners: @weizhoublue, @windsonsea, @cyclinder, @lou-lan

SpiderMultusConfig: Fix error json tag for min/maxTxRateMbps (#4716) (#4737)
  docs/usage/spider-multus-config-zh_CN.md
  docs/usage/spider-multus-config.md
  pkg/constant/k8s.go
  pkg/multuscniconfig/utils.go
Owners: @weizhoublue, @windsonsea, @cyclinder, @lou-lan

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

IPAM: Make ENV EnableGCStatelessTerminatingPod(Not)ReadyNode works in scanAll gcmanager
  cmd/spiderpool-controller/cmd/config.go
  pkg/gcmanager/pod_cache.go
  pkg/gcmanager/scanAll_IPPool.go
  pkg/gcmanager/tracePod_worker.go
Owners: @weizhoublue, @cyclinder, @lou-lan

webhook helps update pod's multus annotations with resourceClaim
  charts/spiderpool/templates/configmap.yaml
  charts/spiderpool/values.yaml
  cmd/spiderpool-controller/cmd/daemon.go
  go.mod
  pkg/dra/config.go
  pkg/dra/device_state.go
  pkg/dra/driver.go
  pkg/podmanager/pod_webhook.go
  pkg/podmanager/utils.go
  pkg/types/k8s.go
  test/e2e/common/deployment.go
Owners: @weizhoublue, @cyclinder, @lou-lan

Debug dra
  charts/spiderpool/templates/configmap.yaml
  charts/spiderpool/templates/daemonset.yaml
  charts/spiderpool/templates/deviceclass.yaml
  charts/spiderpool/templates/tls.yaml
  charts/spiderpool/values.yaml
  cmd/spiderpool-agent/cmd/config.go
  cmd/spiderpool-agent/cmd/daemon.go
  pkg/dra/device_state.go
  pkg/dra/driver.go
  pkg/dra/resourceclaim_manager.go
  pkg/networking/networking/sys.go
Owners: @weizhoublue, @cyclinder, @lou-lan

fix
  go.mod
  go.sum
  pkg/dra/device_state.go
  pkg/dra/driver.go
  pkg/networking/networking/sys.go
  pkg/podmanager/utils.go
  vendor/github.com/k8snetworkplumbingwg/sriov-network-device-plugin/LICENSE
  vendor/github.com/k8snetworkplumbingwg/sriov-network-device-plugin/pkg/utils/testing.go
  vendor/github.com/k8snetworkplumbingwg/sriov-network-device-plugin/pkg/utils/utils.go
  vendor/modules.txt
Owners: @weizhoublue, @cyclinder, @lou-lan

Fix webhook issues in controller
  charts/spiderpool/crds/spiderpool.spidernet.io_spidercoordinators.yaml
  charts/spiderpool/crds/spiderpool.spidernet.io_spiderendpoints.yaml
  charts/spiderpool/crds/spiderpool.spidernet.io_spiderippools.yaml
  charts/spiderpool/crds/spiderpool.spidernet.io_spidermultusconfigs.yaml
  charts/spiderpool/crds/spiderpool.spidernet.io_spiderreservedips.yaml
  charts/spiderpool/crds/spiderpool.spidernet.io_spidersubnets.yaml
  charts/spiderpool/templates/role.yaml
  cmd/spiderpool-controller/cmd/daemon.go
  pkg/constant/k8s.go
  pkg/k8s/apis/spiderpool.spidernet.io/v2beta1/rbac.go
  pkg/networking/networking/sys.go
  pkg/podmanager/pod_webhook.go
  pkg/podmanager/utils.go
Owners: @weizhoublue, @cyclinder, @lou-lan

Shorten the string length in ResourceSlices
  pkg/dra/device_state.go
  pkg/networking/networking/sys.go
Owners: @weizhoublue, @cyclinder, @lou-lan

ResourceSlice list the vfPciAddressPrefix attributes
  pkg/dra/device_state.go
  pkg/dra/utils.go
  pkg/networking/networking/sys.go
Owners: @weizhoublue, @cyclinder, @lou-lan

Fix feedback
  pkg/constant/k8s.go
  pkg/dra/device_state.go
  pkg/dra/driver.go
  pkg/dra/utils.go
Owners: @weizhoublue, @cyclinder, @lou-lan

fix webhook
  pkg/coordinatormanager/calico_ippool_informer.go
  pkg/dra/device_state.go
  pkg/podmanager/utils.go
Owners: @weizhoublue, @cyclinder, @lou-lan

fix feedback && dup calico controller
  charts/spiderpool/templates/daemonset.yaml
  pkg/coordinatormanager/calico_ippool_informer.go
  pkg/coordinatormanager/coordinator_informer.go
  pkg/dra/device_state.go
  pkg/networking/networking/sys.go
  pkg/podmanager/pod_webhook.go
  pkg/podmanager/utils.go
Owners: @weizhoublue, @cyclinder, @lou-lan

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

init nri plugin
  charts/spiderpool/templates/daemonset.yaml
  pkg/dra/device_state.go
  pkg/dra/nri/gpu.go
  pkg/dra/nri/nri.go
  pkg/networking/networking/sys.go
Owners: @weizhoublue, @cyclinder, @lou-lan

IPAM: Make ENV EnableGCStatelessTerminatingPod(Not)ReadyNode works in scanAll gcmanager
  pkg/gcmanager/pod_cache.go
  pkg/gcmanager/scanAll_IPPool.go
Owners: @weizhoublue, @cyclinder, @lou-lan

get allocated resourecs from kubelet api
  charts/spiderpool/templates/daemonset.yaml
  go.mod
  pkg/dra/nri/checkpoint.go
  pkg/dra/nri/gpu.go
  pkg/dra/nri/kube_client.go
  pkg/dra/nri/nri.go
  vendor/k8s.io/kubelet/pkg/apis/podresources/v1/api.pb.go
  vendor/k8s.io/kubelet/pkg/apis/podresources/v1/api.proto
  vendor/modules.txt
Owners: @weizhoublue, @cyclinder, @lou-lan

get allocated gpu resourecs from kubelet api
  pkg/dra/nri/checkpoint.go
  pkg/dra/nri/gpu.go
  pkg/dra/nri/kube_client.go
  pkg/dra/nri/kubelet_resources.go
  pkg/dra/nri/nri.go
  pkg/dra/utils.go
Owners: @weizhoublue, @cyclinder, @lou-lan

Merge pull request #4752 from cyclinder/ipam/disable_gc_ternamating
  pkg/gcmanager/pod_cache.go
  pkg/gcmanager/scanAll_IPPool.go
Owners: @weizhoublue, @cyclinder, @lou-lan

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

Merge pull request #4752 from cyclinder/ipam/disable_gc_ternamating (#4760)
  pkg/gcmanager/pod_cache.go
  pkg/gcmanager/scanAll_IPPool.go
Owners: @weizhoublue, @cyclinder, @lou-lan

e2e: bump k8s version to 1.32
  test/Makefile.defs
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated golang version
  .github/workflows/auto-upgrade-ci.yaml
  .github/workflows/e2e-init.yaml
  .github/workflows/lint-golang.yaml
  Makefile.version
  images/spiderpool-agent/Dockerfile
  images/spiderpool-base/Dockerfile
  images/spiderpool-controller/Dockerfile
  images/spiderpool-plugins/Dockerfile
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

robot updated CNI plugins version
  images/spiderpool-plugins/version.sh
Owners: @weizhoublue, @cyclinder

Fix ENV EnableGCStatelessTerminatingPod(Not)ReadyNode doesn't works
  pkg/gcmanager/pod_cache.go
  pkg/gcmanager/scanAll_IPPool.go
Owners: @weizhoublue, @cyclinder, @lou-lan
