Repository spidernet-io/spiderpool, changes with the owners that CODEOWNERS names for each.
All owners: @weizhoublue, @cyclinder, @windsonsea, @lou-lan

CODEOWNERS:

*  @weizhoublue @cyclinder
/.github/ @weizhoublue @cyclinder
/api/ @weizhoublue @cyclinder
/charts/ @weizhoublue @cyclinder
/cmd/ @weizhoublue @cyclinder
/contrib/ @weizhoublue @cyclinder
/docs/ @weizhoublue @windsonsea @cyclinder
/images/ @weizhoublue @cyclinder
/pkg/ @weizhoublue @cyclinder @lou-lan
/test/ @weizhoublue  @cyclinder
/test/e2e/ @weizhoublue 
/test/doc/ @weizhoublue 
/tools/ @weizhoublue @cyclinder 
/vendor/ @weizhoublue @cyclinder
/.gitignore @weizhoublue
/CODEOWNERS @weizhoublue @cyclinder
/go.mod @weizhoublue @cyclinder
/LICENSE @weizhoublue @cyclinder
/Makefile* @weizhoublue @cyclinder 
/README.md @weizhoublue @cyclinder 
/README-zh_CN.md @weizhoublue @cyclinder 
/go.sum @weizhoublue @cyclinder 
/VERSION @weizhoublue @cyclinder
/AUTHORS @weizhoublue @cyclinder 
/.licenserc.yaml @weizhoublue @cyclinder 
/codecov.yml @weizhoublue
/.golangci.yaml @weizhoublue
/MAINTAINERS.md @weizhoublue @cyclinder
/.trivyignore @weizhoublue
/CODE_OF_CONDUCT.md @weizhoublue @cyclinder

robot Update chart from v0.9.11 to branch github_pages
  charts/chart_package_artifact_v0.9.11/spiderpool-0.9.11.tgz
  index.yaml
Owners: @weizhoublue, @cyclinder

robot update website from v0.9.11 to branch github_pages with tag v0.9
  v0.9/search/search_index.json
  v0.9/sitemap.xml.gz
  v0.9/usage/spider-multus-config-zh_CN/index.html
  v0.9/usage/spider-multus-config/index.html
Owners: @weizhoublue, @cyclinder

robot Update chart from v0.8.12 to branch github_pages
  charts/chart_package_artifact_v0.8.12/spiderpool-0.8.12.tgz
  index.yaml
Owners: @weizhoublue, @cyclinder

robot update changelog from tag v0.8.11 to tag v0.8.12
  changelogs/changelog_artifact_v0.8.12/changelog_from_v0.8.11_to_v0.8.12.md
Owners: @weizhoublue, @cyclinder

robot update website from v0.8.12 to branch github_pages with tag v0.8
  v0.8/search/search_index.json
  v0.8/sitemap.xml.gz
  v0.8/usage/spider-multus-config-zh_CN/index.html
  v0.8/usage/spider-multus-config/index.html
Owners: @weizhoublue, @cyclinder

webhook helps update pod's multus annotations with resourceClaim
  charts/spiderpool/templates/configmap.yaml
  charts/spiderpool/values.yaml
  cmd/spiderpool-controller/cmd/daemon.go
  go.mod
  pkg/dra/config.go
  pkg/dra/device_state.go
  pkg/dra/driver.go
  pkg/podmanager/pod_webhook.go
  pkg/podmanager/utils.go
  pkg/types/k8s.go
  test/e2e/common/deployment.go
Owners: @weizhoublue, @cyclinder, @lou-lan

fix
  go.mod
  go.sum
  pkg/dra/device_state.go
  pkg/dra/driver.go
  pkg/networking/networking/sys.go
  pkg/podmanager/utils.go
  vendor/github.com/k8snetworkplumbingwg/sriov-network-device-plugin/LICENSE
  vendor/github.com/k8snetworkplumbingwg/sriov-network-device-plugin/pkg/utils/testing.go
  vendor/github.com/k8snetworkplumbingwg/sriov-network-device-plugin/pkg/utils/utils.go
  vendor/modules.txt
Owners: @weizhoublue, @cyclinder, @lou-lan

Fix webhook issues in controller
  charts/spiderpool/crds/spiderpool.spidernet.io_spidercoordinators.yaml
  charts/spiderpool/crds/spiderpool.spidernet.io_spiderendpoints.yaml
  charts/spiderpool/crds/spiderpool.spidernet.io_spiderippools.yaml
  charts/spiderpool/crds/spiderpool.spidernet.io_spidermultusconfigs.yaml
  charts/spiderpool/crds/spiderpool.spidernet.io_spiderreservedips.yaml
  charts/spiderpool/crds/spiderpool.spidernet.io_spidersubnets.yaml
  charts/spiderpool/templates/role.yaml
  cmd/spiderpool-controller/cmd/daemon.go
  pkg/constant/k8s.go
  pkg/k8s/apis/spiderpool.spidernet.io/v2beta1/rbac.go
  pkg/networking/networking/sys.go
  pkg/podmanager/pod_webhook.go
  pkg/podmanager/utils.go
Owners: @weizhoublue, @cyclinder, @lou-lan

Fix feedback
  pkg/constant/k8s.go
  pkg/dra/device_state.go
  pkg/dra/driver.go
  pkg/dra/utils.go
Owners: @weizhoublue, @cyclinder, @lou-lan

Debug dra
  charts/spiderpool/templates/configmap.yaml
  charts/spiderpool/templates/daemonset.yaml
  charts/spiderpool/templates/deviceclass.yaml
  charts/spiderpool/templates/tls.yaml
  charts/spiderpool/values.yaml
  cmd/spiderpool-agent/cmd/config.go
  cmd/spiderpool-agent/cmd/daemon.go
  pkg/dra/device_state.go
  pkg/dra/driver.go
  pkg/dra/resourceclaim_manager.go
  pkg/networking/networking/sys.go
Owners: @weizhoublue, @cyclinder, @lou-lan

ResourceSlice list the vfPciAddressPrefix attributes
  pkg/dra/device_state.go
  pkg/dra/utils.go
  pkg/networking/networking/sys.go
Owners: @weizhoublue, @cyclinder, @lou-lan

Shorten the string length in ResourceSlices
  pkg/dra/device_state.go
  pkg/networking/networking/sys.go
Owners: @weizhoublue, @cyclinder, @lou-lan

get allocated resourecs from kubelet api
  charts/spiderpool/templates/daemonset.yaml
  go.mod
  pkg/dra/nri/checkpoint.go
  pkg/dra/nri/gpu.go
  pkg/dra/nri/kube_client.go
  pkg/dra/nri/nri.go
  vendor/k8s.io/kubelet/pkg/apis/podresources/v1/api.pb.go
  vendor/k8s.io/kubelet/pkg/apis/podresources/v1/api.proto
  vendor/modules.txt
Owners: @weizhoublue, @cyclinder, @lou-lan

fix feedback && dup calico controller
  charts/spiderpool/templates/daemonset.yaml
  pkg/coordinatormanager/calico_ippool_informer.go
  pkg/coordinatormanager/coordinator_informer.go
  pkg/dra/device_state.go
  pkg/networking/networking/sys.go
  pkg/podmanager/pod_webhook.go
  pkg/podmanager/utils.go
Owners: @weizhoublue, @cyclinder, @lou-lan

fix webhook
  pkg/coordinatormanager/calico_ippool_informer.go
  pkg/dra/device_state.go
  pkg/podmanager/utils.go
Owners: @weizhoublue, @cyclinder, @lou-lan

init nri plugin
  charts/spiderpool/templates/daemonset.yaml
  pkg/dra/device_state.go
  pkg/dra/nri/gpu.go
  pkg/dra/nri/nri.go
  pkg/networking/networking/sys.go
Owners: @weizhoublue, @cyclinder, @lou-lan

get allocated gpu resourecs from kubelet api
  pkg/dra/nri/checkpoint.go
  pkg/dra/nri/gpu.go
  pkg/dra/nri/kube_client.go
  pkg/dra/nri/kubelet_resources.go
  pkg/dra/nri/nri.go
  pkg/dra/utils.go
  pkg/networking/networking/sys.go
Owners: @weizhoublue, @cyclinder, @lou-lan

CI: ubuntu20-04 has been depreted
  .github/workflows/auto-nightly-ci.yaml
Owners: @weizhoublue, @cyclinder

CI: ubuntu20-04 has been depreted (#4857)
  .github/workflows/auto-nightly-ci.yaml
Owners: @weizhoublue, @cyclinder

Update README.md
  charts/spiderpool/README.md
Owners: @weizhoublue, @cyclinder

Update cni latest plugin
  charts/spiderpool/values.yaml
Owners: @weizhoublue, @cyclinder

Update cni latest plugin (#4830)
  charts/spiderpool/README.md
  charts/spiderpool/values.yaml
Owners: @weizhoublue, @cyclinder

rdma nic
  docs/usage/install/ai/get-started-macvlan-zh_CN.md
  docs/usage/install/ai/get-started-macvlan.md
  docs/usage/install/ai/get-started-sriov-zh_CN.md
  docs/usage/install/ai/get-started-sriov.md
  tools/scripts/setNicRdmaMode.sh
Owners: @weizhoublue, @windsonsea, @cyclinder

doc: set ip
  docs/usage/install/ai/get-started-macvlan-zh_CN.md
  docs/usage/install/ai/get-started-macvlan.md
  docs/usage/install/ai/get-started-sriov-zh_CN.md
  docs/usage/install/ai/get-started-sriov.md
  tools/scripts/setNicAddr.sh
Owners: @weizhoublue, @windsonsea, @cyclinder

doc: set ip
  docs/usage/install/ai/get-started-macvlan-zh_CN.md
  docs/usage/install/ai/get-started-macvlan.md
  docs/usage/install/ai/get-started-sriov.md
  tools/scripts/setNicAddr.sh
  tools/scripts/setNicRdmaMode.sh
Owners: @weizhoublue, @windsonsea, @cyclinder

doc: set ip
  docs/usage/install/ai/get-started-macvlan-zh_CN.md
  docs/usage/install/ai/get-started-macvlan.md
  docs/usage/install/ai/get-started-sriov-zh_CN.md
  docs/usage/install/ai/get-started-sriov.md
Owners: @weizhoublue, @windsonsea, @cyclinder

doc: set ip
  docs/usage/install/ai/get-started-sriov-zh_CN.md
Owners: @weizhoublue, @windsonsea, @cyclinder

doc: set ip
  docs/usage/install/ai/get-started-sriov-zh_CN.md
Owners: @weizhoublue, @windsonsea, @cyclinder

doc: set ip
  docs/usage/install/ai/get-started-macvlan-zh_CN.md
  docs/usage/install/ai/get-started-macvlan.md
  docs/usage/install/ai/get-started-sriov.md
Owners: @weizhoublue, @windsonsea, @cyclinder

doc: set ip
  tools/scripts/setNicRdmaMode.sh
Owners: @weizhoublue, @cyclinder

doc: set rdma nic (#4861)
  docs/usage/install/ai/get-started-macvlan-zh_CN.md
  docs/usage/install/ai/get-started-macvlan.md
  docs/usage/install/ai/get-started-sriov-zh_CN.md
  docs/usage/install/ai/get-started-sriov.md
  tools/scripts/setNicAddr.sh
  tools/scripts/setNicRdmaMode.sh
Owners: @weizhoublue, @windsonsea, @cyclinder

Fix unit test of pod owner cache
  pkg/podownercache/pod_owner_cache_test.go
Owners: @weizhoublue, @cyclinder, @lou-lan

Fix unit test of pod owner cache (#4865)
  pkg/podownercache/pod_owner_cache_test.go
Owners: @weizhoublue, @cyclinder, @lou-lan

robot updated golang version
  .github/workflows/auto-upgrade-ci.yaml
  .github/workflows/e2e-init.yaml
  .github/workflows/lint-golang.yaml
  .github/workflows/lint-grafana-file.yaml
  Makefile.version
  images/spiderpool-agent/Dockerfile
  images/spiderpool-base/Dockerfile
  images/spiderpool-controller/Dockerfile
  images/spiderpool-plugins/Dockerfile
Owners: @weizhoublue, @cyclinder

Get allocated nvidia gpus from pod namespace
  go.mod
  go.sum
  pkg/dra/config.go
  pkg/dra/driver.go
  pkg/dra/nri/gpu.go
  pkg/dra/nri/kubelet_resources.go
  pkg/dra/nri/nri.go
  pkg/dra/nri/utils.go
  pkg/dra/utils.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  vendor/golang.org/x/sys/windows/registry/key.go
  vendor/golang.org/x/sys/windows/registry/value.go
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Owners: @weizhoublue, @cyclinder, @lou-lan

Update roce-qos-zh_CN.md
  docs/usage/roce-qos-zh_CN.md
Owners: @weizhoublue, @windsonsea, @cyclinder

Update roce-qos-zh_CN.md
  docs/usage/roce-qos-zh_CN.md
Owners: @weizhoublue, @windsonsea, @cyclinder

robot updated golang version
  .github/workflows/auto-upgrade-ci.yaml
  .github/workflows/e2e-init.yaml
  .github/workflows/lint-golang.yaml
  .github/workflows/lint-grafana-file.yaml
  Makefile.version
  images/spiderpool-agent/Dockerfile
  images/spiderpool-base/Dockerfile
  images/spiderpool-controller/Dockerfile
  images/spiderpool-plugins/Dockerfile
Owners: @weizhoublue, @cyclinder

Get allocated nvidia gpus from pod namespace
  go.mod
  go.sum
  pkg/dra/config.go
  pkg/dra/device_state.go
  pkg/dra/driver.go
  pkg/dra/nri/gpu.go
  pkg/dra/nri/kubelet_resources.go
  pkg/dra/nri/nri.go
  pkg/dra/nri/utils.go
  pkg/dra/utils.go
  pkg/networking/networking/sys.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  vendor/golang.org/x/sys/windows/registry/key.go
  vendor/golang.org/x/sys/windows/registry/value.go
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Owners: @weizhoublue, @cyclinder, @lou-lan

Update roce-qos.md
  docs/example/qos/rdma-qos.sh
  docs/usage/roce-qos-zh_CN.md
  docs/usage/roce-qos.md
Owners: @weizhoublue, @windsonsea, @cyclinder
